<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render :partial => 'spree/shared/header' %>

    <% if current_page? root_path %>
      <div class="slider">
        <ul class="bxslider">
            <li><%= link_to(image_tag("flashsale-slider.png"), "#products") %></li>
            <li><%= link_to(image_tag("gazella-slider-1.png"), "#products") %></li>
            <li><%= link_to(image_tag("gazella-slider-2.png"), "#products") %></li>
        </ul>
      </div>


      <div class="reviews">
        <div id="line-break" class="col-md-12">

        </div>
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                <h2>Breathable and Comfortable</h2>
                <br>
                  <p>
                    Run Gazella costumes are made of light-weight moisture wicking fabric.
                  </p>

                  <p>
                   This will keep you cool and comfortable and won't get in your way of having fun and looking good!
                  </p>
              </div>
              <div id="review-image" class="col-md-6">
                <%= image_tag("material_square.png") %>
              </div>
            </div>
        </div>
        <div id="line-break" class="col-md-12">

        </div>
        <div class="container">
          <div class="row">
            <div id="review-image" class="col-md-6">

                <%= image_tag("alice_jump.png") %>

            </div>
            <div class="col-md-6">
              <h2>Have fun while you run</h2>
              <br>
              <p>
                These running costumes are all about having fun.
                Designed in the UK, they are a unique product and perfect to stand out in your next fun run, team event, triathlon or mud run.
              </p>

            </div>
            <div class="col-md-12">

            </div>
          </div>
        </div>
      </div>

      <div id="product-header">
        <div class="container">
          <div class="col-md-12">
            <h1>Our Range of Running Costumes and Race Legs</h1>
          </div>
        </div>
      </div>
    <% end %>

    <div class="container">

      <div class="row" data-hook>

        <%= breadcrumbs(@taxon) %>

        <!-- don't want the side bar -->
        <!-- <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %> -->

        <div id="content" class="col-sm-12" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>

      </div>

    </div>

    <%= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>
