<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <STYLE TYPE=3D"text/css">
    A {
    text-decoration: none;
    }

    A:link {
        color:           #3366cc;
        text-decoration: none;
    }

    A:visited {
        color:           #663399;
        text-decoration: none;
    }

    A:active {
        color:           #cccccc;
        text-decoration: none;
    }

    A:Hover  {
        text-decoration: underline;
    }

    BODY, TD, CENTER, P {
    font-family: Geneva, Verdana, Arial, Helvetica;
    font-size:   10px;
    color:       #333333;
    }

    .body {
        font-family: Geneva, Verdana, Arial, Helvetica;
        font-size:   10px;
        color:       #333333;
    }

    </STYLE>
  </head>
  <body>
    <table style="border-bottom:1px solid black;">
      <tr>
        <td WIDTH="250"style="color: #e25911; font-size: 12px"><B>Gazella Running Costumes</B></td>
        <td><B>Order Summary</B></td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <td><B>Billed to:</B></td>
        <td></td>
      </tr>
      <tr>
        <td WIDTH="250">
          <%= @order.bill_address.full_name %><br>
          <%= @order.bill_address.address1 %><br>
          <% if @order.bill_address.address2 != "" %>
            <%= @order.bill_address.address2 %><br>
          <% end %>
          <%= @order.bill_address.city %><br>
          <%= @order.bill_address.state_text %> <%= @order.bill_address.zipcode %><br>
          <%= @order.bill_address.country %>
        </td>
        <td>
          Order Date: <%= Time.now.strftime("%b %d, %Y") %><br>
          Order Total: <%= @order.display_total %><br>
        </td>
      </tr>
    </table>

      	<br>

    <TABLE>
      <tr>
        <td><B>Item</B></td>
        <td ALIGN="center"><B>Size</B></td>
        <td ALIGN="center"><B>Quantity</B></td>
        <td><B>Amount</B></td>
      </tr>
      <% @order.line_items.each do |item| %>
      <tr>
        <td><%= raw(item.variant.product.name) %></td>
        <td ALIGN="center"><%= raw(item.variant.options_text) %></td>
        <td ALIGN="center"><%= item.quantity %></td>
        <td><%= item.display_amount %></td>
      </tr>
      <% end %>
      <tr style="border-bottom:1px solid black;">
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><B>Subtotal</B></td>
        <td></td>
        <td><%= @order.display_item_total %></td>
      </tr>

      <% if @order.adjustment_total != 0 %>
      <tr>
        <td></td>
        <td>Adjustments</td>
        <td></td>
        <td><%= @order.display_adjustment_total %> </td>
      </tr>
      <% end %>

      <tr>
        <td></td>
        <td><B>Shipping</B></td>
        <td></td>
        <td><%= @order.display_ship_total %></td>
      <tr>
        <td></td>
        <td><B>TOTAL</B></td>
        <td></td>
        <td><%= @order.display_total %></td>
      </tr>
    </TABLE>
    <br>
    <p><%= Spree.t('order_mailer.confirm_email.lastline') %></p>

    <p>If you have any questions or concerns, please email us at sales@rungazella.com.</p>

		<p><%= Spree.t('order_mailer.confirm_email.thanks') %></p>

    <p><%= Spree.t('order_mailer.confirm_email.thanksfrom') %></p>
  </body>
</html>
