<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <STYLE TYPE=3D"text/css">
    A {
    text-decoration: none;
    }

    A:link {
        color:           #3366cc;
        text-decoration: none;
    }

    A:visited {
        color:           #663399;
        text-decoration: none;
    }

    A:active {
        color:           #cccccc;
        text-decoration: none;
    }

    A:Hover  {
        text-decoration: underline;
    }

    BODY, TD, CENTER, P {
    font-family: Geneva, Verdana, Arial, Helvetica;
    font-size:   10px;
    color:       #333333;
    }

    .body {
        font-family: Geneva, Verdana, Arial, Helvetica;
        font-size:   10px;
        color:       #333333;
    }

    </STYLE>
  </head>
  <body>
    <table style="border-bottom:1px solid black;">
      <tr>
        <td WIDTH="250"style="color: #e25911; font-size: 12px"><B>Gazella Running Costumes</B></td>
      </tr>
    </table>
    <p><%= Spree.t('shipment_mailer.shipped_email.instructions') %></p>
    <table>
      <tr>
        <td><B>Shipped to:</B></td>
        <td></td>
      </tr>
      <tr>
        <td WIDTH="250">
          <%= @shipment.address.full_name %><br>
          <%= @shipment.address.address1 %><br>
          <% if @shipment.address.address2 != "" %>
            <%= @shipment.address.address2 %><br>
          <% end %>
          <%= @shipment.address.city %><br>
          <%= @shipment.address.state_text %> <%= @shipment.address.zipcode %><br>
          <%= @shipment.address.country %>
        </td>
        <td>
        </td>
      </tr>
    </table>

      	<br>

    <p><%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %></p>
    <TABLE>
      <tr>
        <td><B>Item</B></td>
        <td ALIGN="center"><B>Size</B></td>
        <td ALIGN="center"><B>Quantity</B></td>
        <td><B>Amount</B></td>
      </tr>

      <% @shipment.manifest.each do |item| %>
      <tr>
        <td><%= item.variant.product.name %></td>
        <td ALIGN="center"><%= item.variant.options_value %></td>
        <td ALIGN="center"><%= item.quantity %></td>
        <td><%= item.display_amount %></td>
      </tr>
      <% end %>
      <tr style="border-bottom:1px solid black;">
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><B>Subtotal</B></td>
        <td></td>
        <td><%= @shipment.order.display_item_total %></td>
      </tr>


    <p><%= Spree.t('shipment_mailer.shipped_email.track_information', :tracking => @shipment.tracking)     if @shipment.tracking %></p>
	<p><%= Spree.t('shipment_mailer.shipped_email.track_link',        :url      => @shipment.tracking_url) if @shipment.tracking_url %></p>

    <p>If you have any questions or concerns, please email us at sales@rungazella.com.</p>

	<p><%= Spree.t('shipment_mailer.shipped_email.thanks') %></p>

    <p><%= Spree.t('shipment_mailer.shipped_email.thanksfrom') %></p>
  </body>
</html>
